.wrapper {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

img {
  max-width: 60%;
  margin: 0 auto;
  height: auto;
}

/*a.button {*/
/*  text-decoration: none;*/
/*  line-height: 48px;*/
/*}*/

.form-sidebar {
  margin: 10px;
}
.form-sidebar--main-content {
  align-self: flex-start
}

.input-text {
  width: 90%;
}